body {
    background-color: rgb(15, 15, 15);
  }
  #AGINSE, .container {
    color: #fff;
  }
  #solicitar-seguro {
    color: black;
}

*{
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
     margin:0;
}



h1{font-size: 3.6em;}
h2{font-size: 2.7em;}
h3{font-size: 2.2em;}
p{font-size: 1.25em;}
ul{list-style : none;}
li{font-size: 1.25em;}
h4{font-size: 2.7em;}
button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(5, 250, 148);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background: rgb(4, 172, 121);
    box-shadow: 0 0 30px 5px rgb(3, 138, 97);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  
.color-acento{
    color: #04fcbe;
}

head{
    background-color: #f1f1f8;
    padding: 20px 0;
}

header.logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:#0b07f4
}

header.container{
    display: flex;
    justify-content: column;
    align-items: center;
}

header nav{
    display: flex;
    justify-content: column;
    align-items: center;
    padding-bottom: 25px;
}

header a{
    padding:5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #0b07f4;
}

header a:hover{
    color: #03037a;
}
#hero{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center ;
    flex-direction: column;
    height:90vh;
    background-image:linear-gradient(rgba(64, 146, 112, 0.888),rgba(17, 17, 17, 0.5)),url("cancha1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-size: 125% auto; /* ajusta el tamaño de la imagen */
    background-attachment: fixed;
    color: #f0f3f5;
   
    
  
}

#hero h1{
    color: white;
}

#AGINSE{

    text-align: center;
    padding: 200px 12px;
}

#AGINSE.container{
    text-align: center;
    padding: 200px 12px;
}

#seguros{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center ;
    flex-direction: column;
    height:110vh;
    background-image:linear-gradient(rgba(64, 146, 112, 0.888),rgba(17, 17, 17, 0.5)),url("cancha.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #f0f3f5;
    
}


#seguros.container{

    padding: 100px 0px;

}

#seguros h2{
    margin-top:0;
    font-size:3.5em;
}
#seguros p{
    display: none;

}

#seguros.carta{
    
    background-position: center center;
    background-size: cover;
    font-family: 'Geneva', sans-serif;
     margin:0;
}

#cara{

    text-align: center;
    padding: 100px 12px;
    
}

#caracteristicas.container{
   text-align:center;

}

#caracteristicas li{
    margin:12px 0px;

}

#container{
    text-align: center;
    padding: 200px 12px;
}
#lo{
    text-align: center;
    padding: 30px 12px;
   
      
}

.about-link {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: white;
    background-color: blue;
    border: 2px solid blue;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
    text-align: center;

  
  }

  #Asegurate{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center ;
    flex-direction: column;
    height:90vh;
    background-image:linear-gradient(rgba(18, 19, 19, 0.888),rgba(20, 20, 20, 0.5)),url("apuesta.jpg");
    background-size: cover;
    color: #f0f3f5;
    background-attachment: fixed;
    
  
}

#hero2{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center ;
    flex-direction: column;
    height:90vh;
    background-image:linear-gradient(rgba(20, 20, 20, 0.888),rgba(18, 19, 18, 0.5)),url("militar.jpg");
    background-size: cover;
    color: #f0f3f5;
    background-attachment: fixed;
    background-size: 100% auto; /* ajusta el tamaño de la imagen */
    background-attachment: fixed;
     
}

#hero3{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center ;
    flex-direction: column;
    height:90vh;
    background-image:linear-gradient(rgba(64, 146, 112, 0.888),rgba(17, 17, 17, 0.5)),url("arena.jpg");
    background-size: cover;
    color: #f0f3f5;
    background-attachment: fixed;
    background-size: 100% auto; /* ajusta el tamaño de la imagen */
    background-attachment: fixed;
}

#hero4{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center ;
    flex-direction: column;
    height:90vh;
    background-image:linear-gradient(rgba(64, 146, 112, 0.888),rgba(17, 17, 17, 0.5)),url("cancha2.jpg");
    background-size: cover;
    background-size: cover;
    color: #f0f3f5;
    background-attachment: fixed;
    background-size: 105% auto; /* ajusta el tamaño de la imagen */
background-attachment: fixed;
}

#hero5{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center ;
    flex-direction: column;
    height:90vh;
    background-image:linear-gradient(rgba(15, 15, 15, 0.888),rgba(15, 15, 15, 0.5)),url("Plaza.jpg");
    background-size: cover;
    color: #f0f3f5;
    background-attachment: fixed;
    background-size: 100% auto; /* ajusta el tamaño de la imagen */
background-attachment: fixed;

 
}

nav {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #111010;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
  
   
  }
  
  nav:active {
    color: #131111;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  nav:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  nav:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #fc9075;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  nav:hover {
    color: #ffffff;
    border: 1px solid #fd8f74;
  }
  
  nav:hover:before {
    top: -35%;
    background-color: #fd846e;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  nav:hover:after {
    top: -45%;
    background-color: #f38b71;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

  #rifas{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center ;
    flex-direction: column;
    height:110vh;
    background-image:linear-gradient(rgba(1, 9, 12, 0.888),rgba(14, 19, 11, 0.5)),url("porche.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #f0f3f5;
    
    
}

#hero6{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align:center ;
  flex-direction: column;
  height:90vh;
  background-image:linear-gradient(rgba(15, 15, 15, 0.888),rgba(15, 15, 15, 0.5)),url("porche.jpg");
  background-size: cover;
  color: #f0f3f5;
  background-attachment: fixed;
  background-size: 100% auto; /* ajusta el tamaño de la imagen */
background-attachment: fixed;
  
  
  }
  
  #hero7{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center ;
    flex-direction: column;
    height:90vh;
    background-image:linear-gradient(rgba(15, 15, 15, 0.888),rgba(15, 15, 15, 0.5)),url("ganadores.jpg");
    background-size: cover;
    color: #f0f3f5;
    background-attachment: fixed;
    background-size: 100% auto; /* ajusta el tamaño de la imagen */
  background-attachment: fixed;
    
    
    }

    #hero8{
      display:flex;
      align-items: center;
      justify-content: center;
      text-align:center ;
      flex-direction: column;
      height:90vh;
      background-image:linear-gradient(rgba(15, 15, 15, 0.888),rgba(15, 15, 15, 0.5)),url("casa.jpg");
      background-size: cover;
      color: #f0f3f5;
      background-attachment: fixed;
      background-size: 100% auto; /* ajusta el tamaño de la imagen */
    background-attachment: fixed;
      
      
      }
      #hero9{
        display:flex;
        align-items: center;
        justify-content: center;
        text-align:center ;
        flex-direction: column;
        height:90vh;
        background-image:linear-gradient(rgba(15, 15, 15, 0.888),rgba(15, 15, 15, 0.5)),url("cs.jpg");
        background-size: cover;
        color: #f0f3f5;
        background-attachment: fixed;
        background-size: 100% auto; /* ajusta el tamaño de la imagen */
      background-attachment: fixed;
        
        
        }

        .reglas {
            margin-bottom: 50px;
        }
        
        